{% extends '_base.html' %}
{% load i18n %}

{% load persian_translation_tags %}
{% load comment_tags %}

{% block page_title %}
    {% trans 'logout' %}
{% endblock %}

{% block content %}
{% include 'header.html' %} 
<div class=dir="rtl" align="right">
    <h1>{% trans 'logout' %}</h1>
    <h2>{% trans 'Are you sure you want to sign out?' %}</h2>
    <form action="" method="post" dir="rtl" align="right">
        {% csrf_token %}
        <input type="submit" value="{% trans 'Are you sure?' %}">
    </form>
</div>    
{% include 'footer.html' %}		
{% endblock %}
