{% extends '_base.html' %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load comment_tags %}
{% load persian_translation_tags %}
{% load humanize %}

{% block content %}
{% include 'header.html' %}
{% trans 'CART' as 'CART' %}
{% include 'topheader.html' with header_name='cart' %}
<div class="breadcumb_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="bread_box">
                    <ul class="breadcumb">
                        <li><a href="{% url 'product_list' %}">{% trans 'home' %} <span>|</span></a></li>
                        <li class="active"><a href="">{% trans 'cart' %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="main_cart_area" dir="rtl" align="right">
    <div class="container">
        <div class="row">
            {% if cart %}
            <div class="col-md-9 col-sm-8 col-xs-12">
                <div class="main_cart_left">
                    <div class="cart_heading">
                        <div class="h_item1">
                            <h4>{% trans 'product' %}</h4>
                        </div>
                        <div class="h_item2" >
                            <h4>{% trans 'Price' %}</h4>
                        </div>
                        <div class="h_item3">
                            <h4>{% trans 'Quantity' %}</h4>
                        </div>
                        <div class="h_item4">
                            <h4>{% trans 'total' %}</h4>
                        </div>
                    </div>
                 
                {% for product in cart %}
                    <div class="cart_item">
                        <div class="cart_item_img">
                            {% if product.image %}
                            <img dir="rtl" align="right" src="{{ product.image }}" alt=""  width="150" height="150"/>
                            {% endif %}
                            <a href="{{ product.get_absolute_url }}">
                            <p>{{ product.title }}</p></a>
                        </div>
                        <div class="cart_price">
                            <p>{{ product.price|intcomma:False|translate_number }} {% trans '$' %}</p>
                        </div>
                        <div class="cart_quantity">
                          <form method="post" class="d-flex p-4" action="{% url 'cart:cart_add_quantity' product.id product.page_id product.product_type %}">
                                {% csrf_token %}
                                {{ product.product_update_quantity_form.inplace }}
                                <button class="small" dir="rtl" align="right" type="submit"><i class="fa fa-refresh"></i></button>
                                <div class="input-group quantity-selector quantity-selector-sm" dir="rtl" align="right">
                                <input type="number" id="inputQuantitySelectorSm" class="form-control" aria-live="polite" data-bs-step="counter" name="quantity" title="quantity" value="{{ product.quantity }}" min="1" max="30"  aria-label="Quantity selector">
                                </div>  
                          </form>
                         </div>
                        <div class="cart_total">
                            <p>{{product.total_price|intcomma:False|translate_number }} {% trans '$' %}</p>
                            <span><i class="fa fa-close"></i></span>
                        </div>
                    </div>
                        <form action="{% url 'cart:cart_remove' product.id product.page_id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">{% trans 'delete' %}</button>
                        </form>
                {% endfor %}
              </div>
            </div>
            {% else %}
                <p>{% trans 'Cart is Empty! Please add some products to the cart' %}</p>
                <a href="{% url 'product_list' %}">{% trans 'Go shopping' %}</a>
            {% endif %}
                  <div class="col-md-3 col-sm-4 col-xs-12">
                       <div class="product_form_total">
                            {% if not cart.is_empty %}
                              <div class="row no-gutters border-top pt--20 mt--20">
                               <div class="col-sm-6 text-sm-right">
                                    <form action="{% url 'cart:cart_clear' %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="cart-form__btn btn-danger">
                                        {% translate 'Empty Cart' %}
                                    </button>
                                </form>
                            </div>
                        </div>
                       {% endif %}
                    
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#home-accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              {% trans 'Cart totals' %}
                              <span class="floatright"><i class="fa fa-plus"></i></span>
                            </a>
                          </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body cart_p_body">
                        <div class="c_single_item">
                         </div>
                        <div class="c_single_item cart_last_total">
                            <p>{% trans 'Shipping Charge' %} : </p>
                            <span>{% trans 'Free' %}</span>
                        </div>
                        <div class="c_total_item sp_single_item">
                            <p>{% trans 'Total' %}</p>
                             <span>{{ cart.get_total_price|intcomma:False|translate_number }} {% translate '$' %}</span>
                        </div>
                        </div> 
                        <form action="{% url 'cart:cart_detail' %}" method="POST">
                            {% csrf_token %}
                        <button type="submit" class="cart-form__btn btn-danger">
                            {% translate 'update cart' %}
                        </form>    

                        </button>
                        <form action="{% url 'order_create' %}" method="POST">
                            {% csrf_token %}
                        <button type="submit" class="cart-form__btn btn-danger">
                            {% translate 'confirm and complete the order' %}
                        </button> 
                        </form>
                   
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
