{% extends '_base.html' %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load comment_tags %}
{% load persian_translation_tags %}
{% load humanize %}

{% block content %}
{% trans 'cart' as 'cart' %}
{% include 'topheader.html' with header_name='cart' %}
<div class="breadcumb_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="bread_box">
                    <ul class="breadcumb">
                        <li><a href="{% url 'product_list' %}">{% trans 'home' %} <span>|</span></a></li>
                        <li class="active"><a href="">{% trans 'cart' %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="main_cart_area">
    <div class="container">
        <div class="row">
            {% if cart %}
            <div class="col-md-9 col-sm-8 col-xs-12">
                <div class="main_cart_left">
                    <div class="cart_heading">
                        <div class="h_item1">
                            <p>{% trans 'product' %}</p>
                        </div>
                        <div class="h_item2">
                            <p>{% trans 'Price' %}</p>
                        </div>
                        <div class="h_item3">
                            <p>{% trans 'Quantity' %}</p>
                        </div>
                        <div class="h_item4">
                            <p>{% trans 'total' %}</p>
                        </div>
                    </div>
                 
               {% for item in cart %}
                  <div class="cart_item">
                        <div class="cart_item_img">
                            <p><a href="{{ item.product_obj.get_absolute_url }}">
                                {{ item.product_obj.title }}</a></p>
                                {% if item.product_obj.image %}
                                <img src="{{ item.product_obj.image.url }}" alt="" />
                                {% endif %}
                           
                        </div>
                        <div class="cart_price">
                            <p>{{ item.product_obj.price|translate_number }} {% trans '$' %}</p>
                        </div>
                       
                        <div class="cart_quantity">
                            <form class="d-flex" method="POST" action="{% url 'cart:cart_add' item.product_obj.id %}">
                                {% csrf_token %}
                            <div class="input-group quantity-selector quantity-selector-sm">
                                <input type="number" id="inputQuantitySelectorSm" class="form-control" aria-live="polite" data-bs-step="counter" name="quantity" title="quantity" value="{{ item.quantity }}" min="0" max="30"  aria-label="Quantity selector">
                                {{ item.product_update_quantity_form.inplace }}
                                <button class="small" type="submit"><i class="fa fa-refresh"></i></button>
                              </div>
                            </form>  
                        </div>
                            
                     <div class="cart_total">
                            <p>{{cart.get_total_price|intcomma:False|translate_number }} {% trans '$' %}</p>
                            <span><i class="fa fa-close"></i></span>
                        </div>
                    </div>
                    <a href="{% url 'cart:cart_remove' item.product_obj.id %}" class="cart_update">{% trans 'delete' %}</a>
                {% endfor %}
              </div>
            </div>
                {% else %}
                   <p>{% trans 'Cart is Empty! Please add some products to the cart' %}</p>
                   <a href="{% url 'product_list' %}">{% trans 'Go shopping' %}</a>
                {% endif %}
                  <div class="col-md-3 col-sm-4 col-xs-12">
                       <div class="product_form_total">
                            {% if not cart.is_empty %}
                              <div class="row no-gutters border-top pt--20 mt--20">
                               <div class="col-sm-6 text-sm-right">
                                    <form action="{% url 'cart:cart_clear' %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="cart-form__btn btn-danger">
                                        {% translate 'Empty Cart' %}
                                    </button>
                                </form>
                            </div>
                        </div>
                       {% endif %}
                    
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#home-accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              {% trans 'Cart totals' %}
                              <span class="floatright"><i class="fa fa-plus"></i></span>
                            </a>
                          </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body cart_p_body">
                        <div class="c_single_item">
                            <p>{% trans 'SubTotal' %}</p>
                            <span>{{ item.total_price|translate_number }} {% trans '$' %}</span>
                         </div>
                        <div class="c_single_item cart_last_total">
                            <p>{% trans 'Shipping Charge' %}</p>
                            <span>{% trans 'Free' %}</span>
                        </div>
                        <div class="c_total_item sp_single_item">
                            <p>{% trans 'Total' %}</p>
                             <span>{{ cart.get_total_price|intcomma:False|translate_number }} {% translate '$' %}</span>
                        </div>
                        </div> 
                        <form action="" method="POST">
                            {% csrf_token %}
                        <button type="submit" class="cart-form__btn btn-danger">
                            {% translate 'update cart' %}
                        </form>    
                        </button>
                        <button type="submit" class="cart-form__btn btn-danger">
                            {% translate ' Proceed to checkout' %}
                        </button> 
                   
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}