{% load static %}
{% load i18n %}

{% load persian_translation_tags %}

<div class="cart_menu">
   {% for item in cart %} 
    <div class="cart_items">
        <div class="c_item_img floatleft">
            <a href="{{ item.product_obj.get_absolute_url }}">
                {% if item.product_obj.image %}
                <img src="{{ item.product_obj.image.url }}" alt="" />
                {% endif %}
            </a>
        </div>
        <div class="c_item_totals floatleft">
            <div class="c_item_totals_detail floatleft">
                <a href="{{ item.product_obj.get_absolute_url}}"><h5>{{ item.product_obj.title }}</h5></a>
                <span>{{ item.product_obj.price|translate_number }} {% trans '$' %}</span> &#215; <span>{{ item.quantity }}</span>
            </div>
            <div class="close_icon_cart floatleft">
                <img src="images/close.png" alt="" />
            </div>
        </div>
    </div>
   {% endfor %}
    <div class="cart_totals">
        <div class="c_totals_left floatleft">
            <p>{% trans 'Free shipping' %}</p>
        </div>
        <div class="c_totals_right floatleft">
            <p>{% trans 'total' %}:{{ cart.get_total_price }} {% trans '$' %}</p>
        </div>
    </div>
    <div class="cart_view_bottom">
        <div class="c_totals_left floatleft">
            <a href="{% url 'cart:cart_detail' %}">{% trans 'View Cart' %}</a>
        </div>
        <div class="c_totals_right floatleft">
            <a href="checkout.html">{% trans 'Check Out' %}</a>
        </div>
    </div>
</div>