{% extends "_base.html" %}
{% load i18n %}

{% load persian_translation_tags %}
{% load humanize %}
{% block title %}{% trans 'orders' %}{% endblock title %}
{% block content %}
{% load i18n %}
{% trans 'Orders' as 'Orders' %}
{% include 'topheader.html' with header_name='Orders' %}
<div class="breadcumb_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="bread_box">
                    <ul class="breadcumb">
                        <li><a href="{% url 'product_list' %}">{% trans 'home' %}<span>|</span></a></li>
                        <li><a href="category-1.html">Shop <span>|</span></a></li>
                        <li><a href="{% url 'cart:cart_detail' %}">{% trans 'Cart' %} <span>|</span></a></li>
                        <li class="active"><a href="">{% trans 'orders' %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="checkout_area">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 col-xs-12">
                <div class="checkout_left">
                   
                    <h2>Billing Address</h2>
                    <div class="dotted_line"></div>
                    <form action="" method="POST" class="form form--checkout">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                {{ form.errors }}
                            </div>
                        {% endif %}
                    <div class="checkout_form">
                        <div class="country_select">
                            <p>Country</p>
                            <select class="selectpicker sel_state">
                              <option>Sate/Country</option>
                              <option>Bangladesh</option>
                              <option>USA</option>
                              <option>UK</option>
                              <option>Canda</option>
                              <option>Australia</option>
                            </select>
                        </div>
                        <div class="c_name_box">
                            <div class="c_name_box_left">
                                <p>First Name <span>*</span></p>
                                <input name="{{ form.first_name.name }}" type="text">
                            </div>
                            <div class="c_name_box_right">
                                <p>Last Name <span>*</span></p>
                                <input name="{{ form.last_name.name }}" type="text">
                            </div>
                        </div>
                        <div class="c_address">
                            <p>Address <span>*</span></p>
                            <input name="{{ form.address.name }}" type="text" placeholder="Street Address">
                        </div>
                        <div class="c_mail_box">
                            <div class="s_order">
                                <p>Order Notes <span>*</span></p>
                                <textarea name="{{ form.order_notes.name }}"  placeholder="{% trans 'If you have a note, enter it here. Otherwise, leave this place blank' %}" cols="30" rows="10"></textarea>
                            </div>
                            <div class="c_mail_box_right">
                                <p>Phone <span>*</span></p>
                                <input name="{{ form.phone_number.name }}" type="text">
                            </div>
                        
                        </div>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox"> {% trans 'Create An Account' %}
                            </label><br>
                            <label>
                              <input type="checkbox"> {% trans 'Shipping to a Different Address' %}
                            </label>
                        </div>
                    </form>     
                        
                    </div>
    
                    <div class="dotted_line"></div>
                    
                   
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="checkout_right">
                    <h4>{% trans 'Review of Your Order' %}</h4>
                    
                    <div class="product_form_total">
                        <div class="c_main_item">
                            <p>{% trans 'Product' %}</p>
                            <span>{% trans 'Total' %}</span>
                        </div>
                        {% for item in cart %}
                        <div class="c_single_item">
                            <p>{{ item.product_obj.title }} &#215; <span> {{ item.quantity }} </span></p>
                            <span>{{ item.product_obj.price|intcomma:False|translate_number }} {% trans '$' %}</span>
                        </div>
                        {% endfor %}
                        <div class="c_single_item">
                            <p>{% trans 'subtotal' %}</p>
                            <span>{{ cart.get_total_price|intcomma:False|translate_number }} {% translate '$' %}</span>
                        </div>
                       
                        <div class="c_single_item sp_single_item">
                            <p>{% trans 'Shipping Charge' %}</p>
                            <span>{% trans 'Free' %}</span>
                        </div>
                        <div class="c_total_item sp_single_item">
                            <p>{% trans 'Order Total' %}</p>
                            <span>{{ cart.get_total_price|intcomma:False|translate_number }} {% translate '$' %}</span>
                        </div>
                        <div class="c_payment">
                            <p>Select Payment Method</p>
                            <select class="selectpicker sel_state">
                              <option>Direct Bank Transfer</option>
                              <option>Wire Transfer</option>
                              <option>VISA</option>
                            </select>
                        </div>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox"> I have Read & Accept <span>Terms & Conditions</span>
                            </label>
                        </div>
                        <input type="submit" value="Place order now"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}