{% extends "_base.html" %}
{% load i18n %}

{% load persian_translation_tags %}
{% load humanize %}
{% block title %}{% trans 'orders' %}{% endblock title %}
{% block content %}
{% include 'header.html' %} 
{% load i18n %}
{% trans 'Orders' as 'Orders' %}
{% include 'topheader.html' with header_name='Orders' %}
<div class="breadcumb_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="bread_box">
                    <ul class="breadcumb">
                        <li><a href="{% url 'product_list' %}">{% trans 'home' %}<span>|</span></a></li>
                        <li><a href="{% url 'cart:cart_detail' %}">{% trans 'Cart' %} <span>|</span></a></li>
                        <li class="active"><a href="">{% trans 'orders' %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="checkout_area">
    <div class="container" dir="rtl" align="right">
        <div class="row">
            <div class="col-md-9 col-sm-8 col-xs-12">
                <div class="checkout_left">
                    <div class="dotted_line"></div>
                    <form action="" method="POST" class="form form--checkout">
                        {% csrf_token %}
                    <div class="checkout_form">
                        <div class="country_select">
                        </div>
                        <div class="c_name_box">
                            <div class="c_name_box_left">
                                <h4>{% trans 'Last Name' %} <span>*</span></h4>
                                <input name="{{ form.last_name.name }}" type="text">
                                {% if form.errors %}
                                <div class="alert alert-danger">
                                    {{ form.errors.last_name }}
                                </div>
                                 {% endif %}
                                                        
                            </div>
                            <div class="c_name_box_right">
                                <h4>{% trans 'First Name' %} <span>*</span></h4>
                                <input name="{{ form.first_name.name }}" type="text">
                                {% if form.errors %}
                                <div class="alert alert-danger">
                                    {{ form.errors.first_name }}
                                </div>
                                 {% endif %}
                            </div>
                        </div>
                       
                        <div class="c_address">
                            <h4>{% trans 'Address' %} <span>*</span></h4>
                            <input name="{{ form.address.name }}" type="text" placeholder={% trans "Street Address" %}>
                            {% if form.errors %}
                            <div class="alert alert-danger">
                                {{ form.errors.address }}
                            </div>
                             {% endif %}
                        </div>
                            <div class="c_name_box_right">
                                <h4>{% trans 'Phone' %} <span>*</span></h4>
                                <input name="{{ form.phone_number.name }}" type="text">
                                {% if form.errors %}
                                <div class="alert alert-danger">
                                    {{ form.errors.phone_number }}
                                </div>
                                 {% endif %}
                            </div>
                        </div>
                        <div class="c_mail_box">
                            <div class="s_order">
                            <h4>{% trans 'Order Notes' %} </h4>
                                <textarea name="{{ form.order_notes.name }}"  placeholder="{% trans 'If you have a note, enter it here. Otherwise, leave this place blank' %}" cols="30" rows="10"></textarea>
                           
                        </div>
                        <input type="submit" value={% trans "Place order now" %}/>
                        {% comment %} <button class="btn" type="submit">{% trans 'Submit' %}</button> {% endcomment %}
                    </form>     
                    </div>
    
                    <div class="dotted_line"></div>
                    
                   
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="checkout_right">
                    <h4>{% trans 'Review of Your Order' %}</h4>
                    
                    <div class="product_form_total">
                        <div class="c_main_item">
                            <span>{% trans 'Total' %}</span>
                            <p>{% trans 'Product' %}</p>
                            
                        </div>
                        {% for product in cart %}
                        <div class="c_single_item">
                            <span>{{ product.price|intcomma:False|translate_number }} {% trans '$' %}</span>
                            <p>{{ product.title }} &#215; <span> {{ product.quantity }} </span></p>
                        </div>
                        {% endfor %}
                        <div class="c_single_item">
                            <span>{{ cart.get_total_price|intcomma:False|translate_number }} {% translate '$' %}</span>
                            <p>{% trans 'subtotal' %} : </p>
                            
                        </div>
                       
                        <div class="c_single_item sp_single_item">
                            <span>{% trans 'Free' %}</span>
                            <p>{% trans 'Shipping Charge' %} : </p>
                           
                        </div>
                        <div class="c_total_item sp_single_item">
                            <span>{{ cart.get_total_price|intcomma:False|translate_number }} {% translate '$' %}</span>
                            <p>{% trans 'Order Total' %} : </p>
                           
                        </div>
                          <div class="checkout-payment">
                                <h2 class="py-5">روش پرداخت</h2>
                                <form action="#" class="payment-form">
                                    <div class="payment-group mb--10">
                                        <div class="payment-radio">
                                            <input type="radio" value="bank" name="payment-method" id="bank" checked>
                                            <label class="payment-label" for="cheque">درگاه آنلاین زرین پال</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        {% comment %} <div class="c_payment">
                            <p>{% trans 'Select Payment Method' %}</p>
                            <select class="selectpicker sel_state">
                              <option>{% trans 'zarin pal' %}</option>
                            </select>
                        </div> {% endcomment %}
                        <div class="checkbox">
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}