{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load comment_tags %}
{% load persian_translation_tags %}
	
<section class="product_page_tab_area"> 
    <div class="container">
        <div class="row" >
            <div class="col-md-12"dir="rtl" align="right">
                <div class="product_page_tab">
                    <div role="tabpanel">
                      <ul class="nav nav-tabs tab-product" role="tablist">
                        <li role="presentation" class="active"><a href="#home2" aria-controls="home2" role="tab" data-toggle="tab">{% trans 'Description' %}</a></li>
                        <li role="presentation"><a href="#profile2" aria-controls="profile2" role="tab" data-toggle="tab">{% trans 'Specifications' %}</a></li>
                        <li role="presentation"><a href="#messages2" aria-controls="messages2" role="tab" data-toggle="tab">{% trans 'Review'%}:{{ product.comments.all|only_active_comments|length }} </a></li>
                      </ul>

                      <div class="tab-content tab-p-details">
                        <div role="tabpanel" class="tab-pane active" id="home2"><h2>{% trans 'Description' %}</h2>
                            <div class="multi_line"></div>
                            <p>{{ product.description|safe }}
                            </p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile2"><h2>{% trans 'Specifications' %}</h2>
                            <div class="multi_line"></div>
                            <p>{{ product.short_description }}
                            </p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="messages2">
                            <div class="review_comments" dir="rtl" align="right">
                                <div class="review_heading">
                                    <div class="review_heading_left">
                                        <h2><span>{% trans 'review' %} </span> {{ product.title }}</h2>
                                        <div class="multi_line"></div>
                                    </div>
                                    <div class="review_heading_right">
                                    </div>
                                </div>
                                {% for comment in product.comments.all %}
                                <div class="single_review_comment">
                                    <div class="single_review_img">
                                        <img src="{{ product.image.url }}" alt="" />
                                    </div>
                                    <div class="single_review_text">
                                        <h4>{{ comment.stars }}</h4>
                                        <p>{{ comment.body }}</p>
                                        <div class="review_italic">
                                            <p><span>{{ comment.datetime_created }}</span> {{ comment.author.username }}</p>
                                        </div>
                                    </div>
                                {% endfor %}    
                                </div>
                                
                            </div>
                            <div class="Review_input">
                                <div class="review_input_heading">
                                   
                                    {% if user.is_authenticated %}
                                    <h3>{% trans 'Write your review' %}</h3>
                                    <div class="multi_line"></div>
                                </div>
                                <div class="review_comment_input"  cols="30" rows="10">
                                    <form action="{% url 'comment_create' product.id %}" method="POST">
                                        {% csrf_token %}
                                        {{ comment_form | crispy }}
                                      <a href={% url 'product_detail' product.id %}>
                                        <input type="submit" value="{% trans 'Submit' %}"></a>
                                     </form>

                                   {% else %}
                                    </div>
                                         {% trans 'To write your comment please ' %}
                                        <a href="{% url 'account_login' %}">{% trans 'Login' %}</a></p>
                                {% endif %}
                            </div>
                        </div>
                      </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="featured_product_area"  dir="rtl" align="right">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="featured_product_box">
					<h2>Featured products</h2>
					<div class="multi_line"></div>
					
					<div class="row">
						{% for product in products %}
						<div class="col-md-3 col-sm-4 col-xs-12">
							<div class="main_cat_item">
								<div class="item">
									<div class="item-img">
										<a href="{{ product.get_absolute_url }}">
											{% if product.image %}
												<img src="{{ product.image.url }}" alt="Products">
											{% endif %}
										<div class="tr-add-cart">
											<ul>
												<li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
												<li><a class="tr_text" href="#">ADD TO CART</a></li>
												<li><a class="fa fa-heart tr_heart" href="#"></a></li>
												<li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
											</ul>
										</div>
									</div>
									<div class="item-new">
										<p>New</p>
									</div>
									<div class="item-sub">
										<a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
										<span class="money">{{ product.price }} {% translate '$' %}</span>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>