{% load i18n %}
<div class="footer_area">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="single_widget">
                    <h5>information</h5>
                    <div class="wid_line"></div>
                    <ul class="widget_nav">
                        <li><a href="">New Products</a></li>
                        <li><a href="">Top Seller</a></li>
                        <li><a href="">Special</a></li>
                        <li><a href="">Manufactures</a></li>
                        <li><a href="">Suppliers</a></li>
                        <li><a href="">Our Stores</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="single_widget">
                    <h5>my account</h5>
                    <div class="wid_line"></div>
                    <ul class="widget_nav">
                        <li><a href="">My Account</a></li>
                        <li><a href="">Personal Information</a></li>
                        <li><a href="">Addresses</a></li>
                        <li><a href="">Discounts</a></li>
                        <li><a href="">Order History</a></li>
                        <li><a href="">Your Vouchers</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="single_widget">
                    <h5>customer service</h5>
                    <div class="wid_line"></div>
                    <ul class="widget_nav">
                        <li><a href="">Help & Contact</a></li>
                        <li><a href="">Shipping & Taxes</a></li>
                        <li><a href="">Return Policy</a></li>
                        <li><a href="">Careers</a></li>
                        <li><a href="">Affliates</a></li>
                        <li><a href="">Legal Notice</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="single_widget">
                    <h5>contact Info</h5>
                    <div class="wid_line"></div>
                    <address>
                        {% trans 'Address' %} :{% trans 'Esfahan' %}
                        {% trans 'name' %} : shadi ghanaati
                        {% trans 'Phone' %} : 09132880557<br>
                        {% trans 'Email' %} : shadighanaati@gmail.com
                        {% trans 'github' %} : shadighanaat/django_curse_foroshgah
                    </address>
                    <ul class="wid_social">
                        <li><a class="fa fa-facebook" href=""></a></li>
                        <li><a class="fa fa-github" href="https://github.com/"></a></li>
                        <li><a class="fa fa-google-plus" href="https://google.com/"></a></li>
                        <li><a class="fa fa-linkedin" href=""></a></li>
                        <li><a class="fa fa-rss" href=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>