{% load static %}
{% load i18n %}

{% load persian_translation_tags %}

<div class="header_top">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="header_top_left">
                    
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="header_top_right floatright">
                    {% if user.is_authenticated %}
                    <p class="text-danger">{{ user.username }}</p> | <a class="text-danger" href="{% url 'account_logout' %}">{% trans 'logout' %}</a>
                    {% else %}
                    <p><a href="{% url 'account_login' %}">{% trans 'login' %}</a> / <a href="{% url 'account_signup' %}">{% trans 'register' %}</a></p>
                    {% endif %}
                    <nav class="currency alignleft">
                        
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="header_left floatleft">
                    <a class="fa fa-search" href="{% url 'product_list' %}"></a>
                    <input type="text" placeholder="search"/>
                </div>
            </div>
            <div class="col-md-6 col-sm-5 col-xs-12">
                <div class="header_center">
                    <a href="{% url 'product_list' %}"><h1 class="text-danger">{% trans 'jet shop' %}</h1></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="header_right floatright">
                    <ul class="checkout">
                        <li class="mobi_right_li"><a href="{% url 'order_create' %}"><i class="fa fa-shopping-cart"></i>{% trans 'checklist' %}</a></li>
                    </ul>
                    <div class="w_likes">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="nav_area">
    <div class="container">
              
        <div class="nav_left floatleft">
            <a href="category-1.html" dir="rtl" align="right">{% trans 'category' %}<i class="fa fa-bars"></i></a>
            <div class="cat_mega_menu"  dir="rtl" align="right">
                    <div class="cat_left">
                        <h5>{% trans 'clothing' %}</h5>
                        <div class="cat_menu_line"></div>
                        <ul class="cat_nav">
                            <li><a href="{% url 'product_list_men' %}">{% trans 'Men' %}</a></li>
                            <li><a href="{% url 'product_list_feminine' %}">{% trans 'feminine' %}</a></li>
                            <li><a href="{% url 'product_list_childish' %}">{% trans 'childish' %}</a></li>
                        </ul>
                    </div>

                    <div class="cat_middle">
                        <h5>{% trans 'Electric household appliances' %}</h5>
                        <div class="cat_menu_line"></div>
                        <ul class="cat_nav">
                            <li><a href="{% url 'product_list_refrigerator' %}">{% trans 'Refrigerator freezer' %}</a></li>
                            <li><a href="{% url 'product_list_washing' %}">{% trans 'washing machine' %}</a></li>
                            <li><a href="{% url 'product_list_cooking' %}">{% trans 'Cooking utensils' %}</a></li>
                        </ul>
                    </div>
                    <div class="cat_middle_right">
                        <h5>{% trans 'Digital product' %}</h5>
                        <div class="cat_menu_line"></div>
                        <ul class="cat_nav">
                            <li><a href="{% url 'product_list_laptop' %}">{% trans 'laptop' %}</a></li>
                            <li><a href="{% url 'product_list_headphone' %}">{% trans 'headphone' %}</a></li>
                            <li><a href="{% url 'product_list_office' %}">{% trans 'Office machines' %}</a></li>
                        </ul>
                    </div>
                    <div class="cat_img">
                        <img src="images/menu_cat.png" alt="" />
                    </div>
            </div>
        </div>
    
        <div class="nav_center">
       
            <nav class="mainmenu">
               
                <ul id="nav">
                    <li class="current-page-item"><a href="{% url 'product_list' %}">{% trans 'Home' %}</a>
                        <ul id="sub-menu4">
                            <li><a href="{% url 'product_list' %}">{% trans 'home page' %}</a></li>
                        </ul>
                    </li>
                    <li><a href="category-2.html">{% trans 'shop' %}</a>
                        <ul id="sub-menu7">
                            <li><a href="{{product.get_absolute_url}}">{% trans 'Product Detail Page' %}</a></li>
                        </ul>
                    </li>
                    <li><a href="#">{% trans 'pages' %}</a>
                        <ul id="sub-menu5">
                            <li><a href="{% url 'order_create' %}">{% trans 'Checkout page' %}</a></li>
                            <li><a href="{% url 'cart:cart_detail' %}">{% trans 'Cart page' %}</a></li>
                            <li><a href="{% url 'contact_list' %}">{% trans 'Contact page' %}</a></li>
                            <li><a href="{% url '404_page' %}">{% trans '404 page' %}</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'product_list_blog' %}">{% trans 'blog' %}</a></li> 
                </ul>
            </nav>
        </div>
        <div class="nav_right floatright">
            <a href=""{% url 'cart:cart_detail' %}""><img src="{% static 'images/bag.png' %}" alt="Bag" />{% trans 'cart' %}: {{ cart|length }}</a>
            {% include 'cart/cart_sidebar.html' %}
        </div>
        

    </div>
</section>
