{% extends "_base.html" %}

{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% load persian_translation_tags %}

{% block title %}{% trans 'contact' %}
{% endblock title %}

{% block content%}
{% include 'header.html' %} 
<div class="breadcumb_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="bread_box">
                    <ul class="breadcumb">
                        <li><a href="index.html">{% trans 'home' %} <span>|</span></a></li>
                        <li class="active"><a href="">{% trans 'Contact' %}</a></li> 
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="contact_p_area" dir="rtl" align="right">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="contact_box_left" dir="rtl" align="right">
                    <h4>{% trans 'Leave A message' %}</h4>
                    <div class="multi_line"></div>
                </div>
                <form action="" method="post">
                    <div class="input_form">
                       
                        <div class="input_left">
                            <form action="" method="post" dir="rtl" align="right">
                                {% csrf_token %}
                                <input  type="text" placeholder="{% trans 'Your Email' %} *" required name="email"/>
                            </div>
                            <div class="input_right">
                                <textarea name="message" placeholder="{% trans 'Message' %}" required></textarea>
                            </div>
                        </div>
                        <div class="submit_btn form-group submitRow">
                            <a herf="{% url 'product_list' %}">
                            <input type="submit" name="submit" value="{% trans 'Submit form' %}" /></a>
                            </form>
                    </div>
                    
                </form>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="contact_box_right">
                    <h5>{% trans 'Address' %}</h5>
                    <p>{% trans 'esfahan' %} <br>{% trans 'Iran' %}</p>
                    <div class="dotted_line"></div>
                    
                    <h5>{% trans 'Contact info' %}</h5>
                    <p>shadighanaati@gmail.com</p>
                    <a href="tel:01(800)433633">09132880557</a>
                    <div class="dotted_line"></div>
                    
                    <h5>{% trans 'Working hours' %}</h5>
                    <p>{% trans 'Full-time' %}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}	
{% endblock content %}
