{% extends "_base.html" %}
{% load static %}
{% block title %}store{% endblock title %}

{% block content%}
{% load i18n %}
<!-- HOME SLIDER -->
  
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
	  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
	  <div class="carousel-item active">
		<img class="d-block w-100" src="{% static 'images/01-1-780x405.webp' %}" alt="First slide">
	  </div>
	  <div class="carousel-item">
		<img class="d-block w-100" src="{% static 'images/photography-Clothing.jpg'%}" alt="Second slide">
	  </div>
	  <div class="carousel-item">
		<img class="d-block w-100" src="{% static 'images/photo18.jpg' %}" alt="Third slide">
	  </div>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	  <span class="sr-only">Next</span>
	</a>
  </div>

<!-- HOME SLIDER -->

<section class="promotion_area">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="promo_inner">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="promotion_left">
								<div class="promotion_top">
									<div class="images_box">
										<img src="{% static 'images/promo_img1.jpg' %}" alt="" />
									</div>
									<div class="promo_text">
										<h5>Jackets</h5>
										<div class="p_line"></div>
										<a href="">Show More Products <i class="fa fa-caret-right"></i></a>
									</div>
									<div class="hover_images">
										<img src="{% static 'images/promo_img11.jpg' %}" alt="" />
									</div>
								</div>
								<div class="promotion_bottom">
									<div class="images_box">
										<img src="{% static 'images/promo_img2.jpg' %}" alt="" />
									</div>
									<div class="promo_text_bottom">
										<h5>Shirts</h5>
										<div class="p_line"></div>
										<a href="">Show More Products <i class="fa fa-caret-right"></i></a>
									</div>
									<div class="hover_images_bottom hover_images">
										<img src="{% static 'images/promo_img22.jpg' %}" alt="" />
									</div>
								</div>
								
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="promotion_right">
								<div class="promotion_bottom promotion_bottom_t">
									<div class="images_box">
										<img src="{% static 'images/promo_img3.jpg' %}" alt="" />
									</div>
									<div class="promo_text promo_text_t">
										<h5>Trendy T-shirts</h5>
										<div class="p_line"></div>
										<a href="">Show More Products <i class="fa fa-caret-right"></i></a>
									</div>
									<div class="hover_images_bottom hover_images">
										<img src="{% static 'images/promo_img33.jpg' %}" alt="" />
									</div>
								</div>
								<div class="promotion_top promotion_bottom_b">
									<div class="images_box">
										<img src="{% static 'images/promo_img4.jpg' %}" alt="" />
									</div>
									<div class="promo_text_bottom promo_text_b">
										<h5>Pants</h5>
										<div class="p_line"></div>
										<a href="">Show More Products <i class="fa fa-caret-right"></i></a>
									</div>
									<div class="hover_images">
										<img src="{% static 'images/promo_img44.jpg' %}" alt="" />
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
					
<section class="featured_product_area">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="featured_product_box">
					<h2>Featured products</h2>
					<div class="multi_line"></div>
					<p>Summer Offer! Get Extra Discount Upto 20% For All Collection</p>
					
					<div class="row">
						{% for product in products %}
						<div class="col-md-3 col-sm-4 col-xs-12">
							<div class="main_cat_item">
								<div class="item">
									<div class="item-img">
										<a href="{{ product.get_absolute_url }}">
											{% if product.image %}
												<img src="{{ product.image.url }}" alt="Products">
											{% endif %}
										
									</div>
									<div class="item-new">
										<p>New</p>
									</div>
									<div class="item-sub">
										<a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
										<span class="money">{{ product.price }} {% translate '$' %}</span>
										<form action="{% url 'cart:cart_add' product.id %}" method="POST">
											{% csrf_token %}
											<input type="hidden" class="quantity-input" name="quantity" id="qty" value="1" min="1" max="30">
											<div class="quantity-wrapper">
												<button type="submit" class="btn btn-small btn-bg-red btn-color-white btn-hover-2">
													{% trans 'Add to Cart' %}
												</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<footer class="entire_footer_area">
	<div class="footer_top_area">
		<div class="container">
			<div class="row">
				<div class="col-md-7 col-sm-6 col-xs-12">
					<div class="footer_top_left">
						<a href=""><i class="fa fa-envelope"></i>signup newsletter</a>
						<input type="text" placeholder=""/>
						<input type="submit" value="submit"/>
					</div>
				</div>
				<div class="col-md-5 col-sm-6 col-xs-12">
					<div class="footer_top_right">
						<ul id="payment">
							<li><a href="">
								<img src="images/pay1.png" alt="" />
							</a></li>
							<li><a href="">
								<img src="images/pay2.png" alt="" />
							</a></li>
							<li><a href="">
								<img src="images/pay3.png" alt="" />
							</a></li>
							<li><a href="">
								<img src="images/pay4.png" alt="" />
							</a></li>
							<li><a href="">
								<img src="images/pay5.png" alt="" />
							</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer_area">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="single_widget">
						<h5>information</h5>
						<div class="wid_line"></div>
						<ul class="widget_nav">
							<li><a href="">New Products</a></li>
							<li><a href="">Top Seller</a></li>
							<li><a href="">Special</a></li>
							<li><a href="">Manufactures</a></li>
							<li><a href="">Suppliers</a></li>
							<li><a href="">Our Stores</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="single_widget">
						<h5>my account</h5>
						<div class="wid_line"></div>
						<ul class="widget_nav">
							<li><a href="">My Account</a></li>
							<li><a href="">Personal Information</a></li>
							<li><a href="">Addresses</a></li>
							<li><a href="">Discounts</a></li>
							<li><a href="">Order History</a></li>
							<li><a href="">Your Vouchers</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="single_widget">
						<h5>customer service</h5>
						<div class="wid_line"></div>
						<ul class="widget_nav">
							<li><a href="">Help & Contact</a></li>
							<li><a href="">Shipping & Taxes</a></li>
							<li><a href="">Return Policy</a></li>
							<li><a href="">Careers</a></li>
							<li><a href="">Affliates</a></li>
							<li><a href="">Legal Notice</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="single_widget">
						<h5>contact Info</h5>
						<div class="wid_line"></div>
						<address>
							Address : 44 New Design Street,<br>
							Melbourne 005<br>
							Phone : (01) 800 433 633<br>
							Email : info@Example.com
						</address>
						<ul class="wid_social">
							<li><a class="fa fa-facebook" href=""></a></li>
							<li><a class="fa fa-twitter" href=""></a></li>
							<li><a class="fa fa-google-plus" href=""></a></li>
							<li><a class="fa fa-pinterest" href=""></a></li>
							<li><a class="fa fa-rss" href=""></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer_bottom_area">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="footer_bottom">
						<p>Copyright &copy; 2015 <a href="index.html">Men’swaer</a>. All Rights Reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
{% endblock content %}
