{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load persian_translation_tags %}
{% load jalali_tags %}

{% block title %}{% trans 'detail blog' %}
{% endblock title %}

{% block content %}
{% include 'header.html' %} 
{% trans 'detail blog' as 'detail blog' %}
<section class="blog_slider_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="blog_slider_box">
                    <h2>{% trans 'blog - single' %}</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="breadcumb_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="bread_box">
                    <ul class="breadcumb">
                        <li><a href="{% url 'product_list' %}">{% trans 'home' %} <span>|</span></a></li>
                        <li><a href="{% url 'product_list_blog' %}">{% trans 'blog' %} <span>|</span></a></li>
                        <li class="active"><a href="">{% trans 'blog - single' %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="blog_page_area" dir="rtl" align="right">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="single_blog_in_page">
                    <div class="blog_img_l"><img src="" alt="" /></div>
                    <h2 dir="rtl" align="right">{% trans 'description' %} : </h2>
                    <div class="blog_date_in_page">
                    </div>  
            </div>
              
                    <div class="blog_detail_in_page">
                        <p>{{ productblog.description}} </p>
                    </div>
                </div>
                <div class="comments">
                    <div class="review_comments" dir="rtl" align="right">
                        <div class="review_heading">
                                <div class="review_heading_right">
                                    </div>
                                </div>       
                            {% if user.is_authenticated %}
                            <div class="multi_line"></div>
                        </div>
                        <div class="review_comment_input"  cols="30" rows="10" dir="rtl" align="right">
                            <form action="{% url 'comment_create_blog' productblog.id %}" method="POST">
                                {% csrf_token %}
                                {{ comment_form_blog | crispy }}
                                <a href={% url 'product_detail' productblog.id %}>
                                <input type="submit" value="{% trans 'Submit' %}"></a>
                             </form>
                        </div>
                           {% else %}
                            </div>
                                <a href="{% url 'account_login' %}">{% trans 'Login' %}</a></p>
                        {% endif %}
                        {% for comment in productblog.comments.all %}   
                            <div class="review_heading_left" dir="rtl" align="right">
                                <span>{% trans 'review' %} </span> 
                                <div class="multi_line"></div>
                            </div>
                            <div class="single_review_comment">
                                <div class="single_review_img">
                                    {% if productblog.image %}
                                    <img src="{{ productblog.image.url }}" alt="" />
                                    {% endif %}
                                </div>
                                <div class="single_review_text" dir="rtl" align="right">
                                    <h4>{{ comment.body }}</h4>
                                    <div class="review_italic">
                                        <p><span>{{ comment.datetime_created|to_jalali:'%y/%m/%d _ %H:%M:%S'|translate_number  }}</span> {{ comment.author.username }}</p>
                                    </div>
                                </div>
                        {% endfor %}    
                            </div>
                   {% comment %} <h2 dir="rtl" align="right">{% trans 'Comments' %}'</h2> {% endcomment %}
                    {% comment %} <div class="multi_line"></div>
                    <div class="single_comment">
                        {% if user.is_authenticated %} {% endcomment %}
                        {% comment %} <h3 dir="rtl" align="right">{% trans 'Write your review' %}</h3> {% endcomment %}
                        {% comment %} <div class="multi_line"></div>
                    </div>
                    <p id="" class="invalid-feedback">
                        <form dir="rtl" align="right" action="{% url 'comment_create_blog' productblog.id %}" method="POST">
                            {% csrf_token %}
                            {{ comment_form|crispy }}
                            <input dir="rtl" align="right" type="submit" value="{% trans 'post comment' %}" /></a>
                         </form>
    
                        {% else %}
                     <p>
                             {% trans 'To write your comment please ' %}
                            <a href="{% url 'account_login' %}">{% trans 'Login' %}</a></p>
                    {% endif %}
                    </div>
                    <div class="single_comment even">
                        <div class="comment_img">
                            <img src="images/comment1.png" alt="" />
                        </div>
                        <div class="comment_text">
                            {% for comment in productblog.comments.all %}
                            <div class="single_review_comment">
                                <div class="single_review_img">
                                    <img src="{{ productblog.image.url }}" alt="" />
                                </div>
                                <div class="single_review_text" dir="rtl" align="right">
                                    <h4 dir="rtl" align="right">{{ comment.stars }}</h4>
                                    <p dir="rtl" align="right">{{ comment.body }}</p>
                                    <div class="review_italic" dir="rtl" align="right">
                                        <p><span>{{ comment.author.username }}</span> {{ comment.datetime_created }}</p>
                                    </div>
                                </div>
                            {% endfor %}    
                            </div>  {% endcomment %}
                        </div>
                    </div>
                </div>     
            </div>         
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="blog_page_sidebar">
                    <div class="blog_search">
                        <form method='GET' action={% url 'search' %}>
                           <input type="text" placeholder="search..." />
                           <i class="fa fa-search"></i>
                        </form>
                </div>
        </div>
    </div>
</section>

{% endblock content %}
