{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load comment_tags %}

{% load persian_translation_tags %}
{% block title %}product detail{% endblock title%} 
{% block content %}
<div class="breadcumb_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="bread_box">
                    <ul class="breadcumb">
                        <li><a href="{% url 'product_list' %}">{% trans 'home' %} <span>|</span></a></li>
                        <li><a href="cart.html">{% trans 'shop' %}<span>|</span></a></li>
                        <li><a href="{% url 'product_list_men' %}">{% trans 'mens' %} <span>|</span></a></li>
                        <li class="active"><a href="">{{product.title}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="gray_tshirt_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="gray_tshirt">
                <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="single_product_image_tab">
                        <div role="tabpanel">
                           
                            <div class="img-zoom-container">
                                <img id="myimage" src="{{ product.image.url }}" width="450" height="240" alt="Girl">
                                <div id="myresult" class="img-zoom-result"></div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                
                    <div class="product_detail_heading">
                        <div class="detail_heading_left">
                            <h3>{{ product.title }}</h3>
                            <div class="old_price_gray"><p> {{ product.price|translate_number }} {% trans '$' %} </p></div>
                            
                        </div>
                        <div class="detail_heading_right">
                            <ul id="detail_star">
                                <li><a class="fa fa-star-o red" href=""></a></li>
                                <li><a class="fa fa-star-o red" href=""></a></li>
                                <li><a class="fa fa-star-o red" href=""></a></li>
                                <li><a class="fa fa-star-o" href=""></a></li>
                                <li><a class="fa fa-star-o" href=""></a></li>
                            </ul>
                            <p>{% trans 'Review'%}{{ product.comments.all|only_active_comments|length }}</p>
                        </div>
                    </div>
                    
                    <div class="panel-group product_accordion" id="home-accordion-single" role="tablist" aria-multiselectable="true">
                     <div class="panel panel-default product_default">
                        <div class="panel-heading product_accordion_heading" role="tab" id="headingOneP">
                          <h4 class="panel-title product_accordion_head">
                             <a data-toggle="collapse" data-parent="#home-accordion-single" href="#collapseOneP" aria-expanded="true" aria-controls="collapseOneP">
                                {% trans 'description' %}
                               <span class="floatright"><i class="fa fa-minus"></i></span>
                             </a>
                          </h4>
                        </div>
                        <div id="collapseOneP" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOneP">
                          <div class="panel-body product_ac_body">
                            {{ product.description|truncatechars:300 }}
                          </div>
                        </div>
                     </div>
                     
                     <div class="panel panel-default product_default">
                        <div class="panel-heading product_accordion_heading" role="tab" id="headingThreeP">
                          <h4 class="panel-title product_accordion_head">
                         <a class="collapsed" data-toggle="collapse" data-parent="#home-accordion-single" href="#collapseThreeP" aria-expanded="false" aria-controls="collapseThreeP">
                         {% trans 'delivery & returns' %}
                           <span class="floatright"><i class="fa fa-plus"></i></span>
                         </a>
                          </h4>
                        </div>
                        <div id="collapseThreeP" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThreeP">
                          <div class="panel-body product_accordion_head">
                            <div class="single_color sp_single_col">
                                <div class="color_heading"><h5>{% trans 'Colors' %}</h5></div>
                                <div class="color_detail">
                                    <div class="panel-body colors_cat">
                                        
                                        <ul id="cat_color">
                                            <li><a style= "background-color:#8B0000" href="#8B0000"></a></li>
                                            <li><a style= "background-color:#FFFF00;" href="#FFFF00"></a></li>
                                            <li><a style= "background-color:#006400;" href="#006400"></a></li>
                                           
                                        </ul>                             
                                        
                                      </div>
                                    
                                </div>
                            </div>
                            <div class="single_color">
                            <div class="color_heading"><h5>{% trans 'Select size' %} </h5></div>
                            <div class="color_detail">
                            <div class="color_size_detail">
                                <ul id="color_size">
                                    <li><a href="">xs</a></li>
                                    <li><a href="">s</a></li>
                                    <li><a href="">m</a></li>
                                    <li><a href="">l</a></li>
                                    <li><a href="">xl</a></li>
                                </ul>
                            </div>
                            </div>
                            </div>
                            <div class="single_color">
                            <div class="color_heading"><h5>{% trans 'Quantity' %}</h5></div>
                            <div class="color_detail">
                                <div class="size_down">
                                    
                                </div>
                            <div class="product-action d-flex align-items-sm-center align-content-center mb--30">
                                <form action="{% url 'cart:cart_add' product.id %}" method="POST">
                                    {% csrf_token %}
                                    <div class='quantity'>
                                        <input type="number" class="quantity-input" name="quantity" id='qty' value="1"  max="30" min="1">
                                    </div>
                                        <button type="submit" class="btn btn-small btn-bg-red btn-color-white btn-hover-2">
                                            {% trans 'Add to Cart' %}
                                        </button>
                                        <div class="size_heart">
                                            <a href=""><img src="{{ product.image.url }}" alt="" /></a>
                                            <a href=""><img src="{{ product.color }}" alt="" /></a>
                                        </div>
                                       
                                </form>
                            </div>
                                
                                
                            </div>
                            </div>
                            
                          </div>
                        </div>
                     </div>
                   </div>
                    
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>

	
<section class="product_page_tab_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product_page_tab">
                    <div role="tabpanel">
                      <ul class="nav nav-tabs tab-product" role="tablist">
                        <li role="presentation" class="active"><a href="#home2" aria-controls="home2" role="tab" data-toggle="tab">{% trans 'Description' %}</a></li>
                        <li role="presentation"><a href="#profile2" aria-controls="profile2" role="tab" data-toggle="tab">{% trans 'Specifications' %}</a></li>
                        <li role="presentation"><a href="#messages2" aria-controls="messages2" role="tab" data-toggle="tab">{% trans 'Review'%}{{ product.comments.all|only_active_comments|length }} </a></li>
                      </ul>

                      <div class="tab-content tab-p-details">
                        <div role="tabpanel" class="tab-pane active" id="home2"><h2>{% trans 'Description' %}</h2>
                            <div class="multi_line"></div>
                            <p>{{ product.description|safe }}
                            </p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile2"><h2>{% trans 'Specifications' %}</h2>
                            <div class="multi_line"></div>
                            <p>{{ product.short_description }}
                            </p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="messages2">
                            <div class="review_comments">
                                <div class="review_heading">
                                    <div class="review_heading_left">
                                        <h2><span>{% trans 'review' %} </span> {{ product.title }}</h2>
                                        <div class="multi_line"></div>
                                    </div>
                                    <div class="review_heading_right">
                                        <ul id="review_heading_star">
                                            <li><a href="" class="fa fa-star"></a></li>
                                            <li><a href="" class="fa fa-star"></a></li>
                                            <li><a href="" class="fa fa-star"></a></li>
                                            <li><a href="" class="fa fa-star"></a></li>
                                            <li><a href="" class="fa fa-star"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                {% for comment in product.comments.all %}
                                <div class="single_review_comment">
                                    <div class="single_review_img">
                                        <img src="{{ product.image.url }}" alt="" />
                                    </div>
                                    <div class="single_review_text">
                                        <h4>{{ comment.stars }}</h4>
                                        <p>{{ comment.body }}</p>
                                        <div class="review_italic">
                                            <p><span>{{ comment.author.username }}</span> {{ comment.datetime_created }}</p>
                                        </div>
                                    </div>
                                {% endfor %}    
                                </div>
                                
                            </div>
                            <div class="Review_input">
                                <div class="review_input_heading">
                                   
                                    {% if user.is_authenticated %}
                                    <h3>{% trans 'Write your review' %}</h3>
                                    <div class="multi_line"></div>
                                </div>
                                <p id="" class="invalid-feedback">
                                    <form action="{% url 'comment_create' product.id %}" method="POST">
                                        {% csrf_token %}
                                        {{ comment_form|crispy }}
                                      <a href={% url 'product_detail' product.id %}>
                                        <input type="submit" value="{% trans 'Submit' %}"></a>
                                     </form>

                                   {% else %}
                                    <p>
                                         {% trans 'To write your comment please ' %}
                                        <a href="{% url 'account_login' %}">{% trans 'Login' %}</a></p>
                                {% endif %}
                            </div>
                        </div>
                      </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="featured_product_area">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="featured_product_box">
					<h2>Featured products</h2>
					<div class="multi_line"></div>
					
					<div class="row">
						{% for product in products %}
						<div class="col-md-3 col-sm-4 col-xs-12">
							<div class="main_cat_item">
								<div class="item">
									<div class="item-img">
										<a href="{{ product.get_absolute_url }}">
											{% if product.image %}
												<img src="{{ product.image.url }}" alt="Products">
											{% endif %}
										<div class="tr-add-cart">
											<ul>
												<li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
												<li><a class="tr_text" href="#">ADD TO CART</a></li>
												<li><a class="fa fa-heart tr_heart" href="#"></a></li>
												<li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
											</ul>
										</div>
									</div>
									<div class="item-new">
										<p>New</p>
									</div>
									<div class="item-sub">
										<a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
										<span class="money">{{ product.price }} {% translate '$' %}</span>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



     

<footer class="entire_footer_area">
    <div class="footer_top_area">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <div class="footer_top_left">
                        <a href=""><i class="fa fa-envelope"></i>signup newsletter</a>
                        <input type="text" placeholder=""/>
                        <input type="submit" value="submit"/>
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="footer_top_right">
                        <ul id="payment">
                            <li><a href="">
                                <img src="images/pay1.png" alt="" />
                            </a></li>
                            <li><a href="">
                                <img src="images/pay2.png" alt="" />
                            </a></li>
                            <li><a href="">
                                <img src="images/pay3.png" alt="" />
                            </a></li>
                            <li><a href="">
                                <img src="images/pay4.png" alt="" />
                            </a></li>
                            <li><a href="">
                                <img src="images/pay5.png" alt="" />
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_area">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="single_widget">
                        <h5>information</h5>
                        <div class="wid_line"></div>
                        <ul class="widget_nav">
                            <li><a href="">New Products</a></li>
                            <li><a href="">Top Seller</a></li>
                            <li><a href="">Special</a></li>
                            <li><a href="">Manufactures</a></li>
                            <li><a href="">Suppliers</a></li>
                            <li><a href="">Our Stores</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="single_widget">
                        <h5>my account</h5>
                        <div class="wid_line"></div>
                        <ul class="widget_nav">
                            <li><a href="">My Account</a></li>
                            <li><a href="">Personal Information</a></li>
                            <li><a href="">Addresses</a></li>
                            <li><a href="">Discounts</a></li>
                            <li><a href="">Order History</a></li>
                            <li><a href="">Your Vouchers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="single_widget">
                        <h5>customer service</h5>
                        <div class="wid_line"></div>
                        <ul class="widget_nav">
                            <li><a href="">Help & Contact</a></li>
                            <li><a href="">Shipping & Taxes</a></li>
                            <li><a href="">Return Policy</a></li>
                            <li><a href="">Careers</a></li>
                            <li><a href="">Affliates</a></li>
                            <li><a href="">Legal Notice</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="single_widget">
                        <h5>contact Info</h5>
                        <div class="wid_line"></div>
                        <address>
                            Address : 44 New Design Street,<br>
                            Melbourne 005<br>
                            Phone : (01) 800 433 633<br>
                            Email : info@Example.com
                        </address>
                        <ul class="wid_social">
                            <li><a class="fa fa-facebook" href=""></a></li>
                            <li><a class="fa fa-twitter" href=""></a></li>
                            <li><a class="fa fa-google-plus" href=""></a></li>
                            <li><a class="fa fa-pinterest" href=""></a></li>
                            <li><a class="fa fa-rss" href=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom_area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="footer_bottom">
                        <p>Copyright &copy; 2015 <a href="index.html">Men’swaer</a>. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}

