{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load comment_tags %}

{% load persian_translation_tags %}
{% block title %}{% trans 'product detail' %}{% endblock title%} 

{% block content %}
{% trans 'product detail' as 'product detail' %}
{% include 'topheader.html' with header_name='product detail' %}
<div class="breadcumb_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="bread_box">
                    <ul class="breadcumb">
                        <li><a href="{% url 'product_list' %}">{% trans 'home' %} <span>|</span></a></li>
                        <li><a href="cart.html">{% trans 'shop' %}<span>|</span></a></li>
                        <li><a href="{% url 'product_list_childish' %}">{% trans 'childish' %} <span>|</span></a></li>
                        <li class="active"><a href="">{{product.title}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'product detail.html' %}
{% endblock %}

