{% extends "_base.html" %}
{% load static %}
{% load i18n %}

{% load persian_translation_tags %}

{% block title %}{% trans 'blog' %}
{% endblock title %}

{% block content%}
<section class="blog_slider_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="blog_slider_box">
                    <h2>{% trans 'Blog' %}</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="breadcumb_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="bread_box">
                    <ul class="breadcumb">
                        <li><a href="{% url 'product_list' %}">{% trans 'home' %} <span>|</span></a></li>
                        <li class="active"><a href="{% url 'product_list_blog' %}">{% trans 'blog' %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="blog_page_area">
    <div class="container">
        <div class="row">
            {% for product in products %} 
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="single_blog_in_page">
                    <div class="blog_img_l"><img src="{{ product.imag}}" alt="" /></div>
                    <div class="blog_date_in_page">
                        <h2>_ <span>12</span></h2>
                        <p></p>
                    </div>
                    <div class="blog_text_in_page">
                        <a href="single-blog.html"><h3>this is blog design for mens wear shop</h3></a>
                        <h4>By <span>Admin</span>,   comments  <span>23</span>,   summer special</h4>
                        <p>{{ product.discreption }}</p>
                        <div class="read_more">
                            <a class="read_more_blog" href="{% url 'product_detail_blog' product.id %}">{% trans 'Read more' %}</a>
                        </div>
                    </div>
                </div>
            {% endfor %} 
            </div>
            <nav aria-label="Page navigation ">
                <ul class="pagination justify-content-center mt-3">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
           
        </div>
    </div>
</section>
{% endblock content %}
