{% extends "_base.html" %}
{% load static %}

{% load i18n %}
{% load persian_translation_tags %}

{% block title %}{% trans 'blog' %}
{% endblock title %}

{% block content%}
{% include 'header.html' %} 
<div class="breadcumb_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="bread_box">
                    <ul class="breadcumb">
                        <li><a href="{% url 'product_list' %}">{% trans 'home' %} <span>|</span></a></li>
                        <li class="active"><a href="{% url 'product_list_blog' %}">{% trans 'blog' %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="blog_page_area">
    <div class="container">
        <div class="row">
            {% for productblog in products %} 
            <div class="col-md-8 col-sm-8 col-xs-12" dir="rtl" align="right">
                    <div class="blog_img_l"><img src="{{ productblog.image.url }}" alt="" /></div>
                    <div class="blog_date_in_page">
                    </div>
                    <div class="blog_text_in_page">
                        <a href="{% url 'product_detail_blog' productblog.id %}"><h3>{{ productblog.title }}</h3></a>
                        <p>{{ productblog.discreption }}</p>
                        <div class="read_more">
                            <a class="read_more_blog" href="{% url 'product_detail_blog' productblog.id %}">{% trans 'Read more' %}</a>
                        </div>
                    </div>   
            </div>
            {% endfor %} 
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}	
{% endblock content %}
