{% extends "_base.html" %}
{% load static %}
{% load i18n %}

{% load persian_translation_tags %}

{% block title %}{% trans 'blog' %}
{% endblock title %}

{% block content%}
<section class="blog_slider_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="blog_slider_box">
                    <h2>{% trans 'Blog' %}</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="breadcumb_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="bread_box">
                    <ul class="breadcumb">
                        <li><a href="{% url 'product_list' %}">{% trans 'home' %} <span>|</span></a></li>
                        <li class="active"><a href="{% url 'product_list_blog' %}">{% trans 'blog' %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="blog_page_area">
    <div class="container">
        <div class="row">
            {% for product in products %} 
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="single_blog_in_page">
                    <div class="blog_img_l"><img src="{{ product.imag}}" alt="" /></div>
                    <div class="blog_date_in_page">
                        <h2>_ <span>12</span></h2>
                        <p></p>
                    </div>
                    <div class="blog_text_in_page">
                        <a href="single-blog.html"><h3>this is blog design for mens wear shop</h3></a>
                        <h4>By <span>Admin</span>,   comments  <span>23</span>,   summer special</h4>
                        <p>{{ product.discreption }}</p>
                        <div class="read_more">
                            <a class="read_more_blog" href="">{% trans 'Read more' %}</a>
                        </div>
                    </div>
                </div>
            {% endfor %} 
            </div>
            <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="pagi_line"></div>
                        <div class="pagi_ul">
                            <ul id="pagination">
                                <li><a href="">Previous</a></li>
                                <li><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li><a href="">5 ...</a></li>
                                <li><a href="">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>
    
{% endblock content %}
