{% extends "_base.html" %}
{% load static %}

{% load i18n %}
{% load comment_tags %}

{% load persian_translation_tags %}
{% load humanize %}

{% block title %}{% trans 'store' %}{% endblock title %}

{% block content%}
<div class="header_top">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="header_top_left">
                    
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="header_top_right floatright">
                    {% if user.is_authenticated %}
                    <p class="text-danger">{{ user.username }}</p> | <a class="text-danger" href="{% url 'account_logout' %}">{% trans 'logout' %}</a>
                    {% else %}
                    <p><a href="{% url 'account_login' %}">{% trans 'login' %}</a> / <a href="{% url 'account_signup' %}">{% trans 'register' %}</a></p>
                    {% endif %}
                    <nav class="currency alignleft">
                        
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="header_left floatleft">
					<form method="GET" action="{% url 'search' %}">
						<input  class="fa fa-search" type="text" name="query" placeholder="search"/>
			        </form> 
                </div>
            </div>
            <div class="col-md-6 col-sm-5 col-xs-12">
                <div class="header_center">
                    <a href="{% url 'product_list' %}"><h1 class="text-danger">{% trans 'jet shop' %}</h1></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="header_right floatright">
                    <ul class="checkout">
                        <li class="mobi_right_li"><a href="{% url 'cart:cart_detail' %}"><i class="fa fa-shopping-cart"></i>{% trans 'checklist' %}</a></li>
                    </ul>
                    <div class="w_likes">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="nav_area">
    <div class="container">

        <div class="nav_left floatleft">
           <a href="category-1.html" dir="rtl" align="right">{% trans 'category' %}<i class="fa fa-bars"></i></a>
            <div class="cat_mega_menu"  dir="rtl" align="right">
                    <div class="cat_left">
                        <h5>{% trans 'clothing' %}</h5>
                        <div class="cat_menu_line"></div>
                        <ul class="cat_nav">
                            <li><a href="{% url 'product_list_men' %}">{% trans 'Men' %}</a></li>
                            <li><a href="{% url 'product_list_feminine' %}">{% trans 'feminine' %}</a></li>
                            <li><a href="{% url 'product_list_childish' %}">{% trans 'childish' %}</a></li>
                        </ul>
                    </div>

                    <div class="cat_middle">
                        <h5>{% trans 'Electric household appliances' %}</h5>
                        <div class="cat_menu_line"></div>
                        <ul class="cat_nav">
                            <li><a href="{% url 'product_list_refrigerator' %}">{% trans 'Refrigerator freezer' %}</a></li>
                            <li><a href="{% url 'product_list_washing' %}">{% trans 'washing machine' %}</a></li>
                            <li><a href="{% url 'product_list_cooking' %}">{% trans 'Cooking utensils' %}</a></li>
                        </ul>
                    </div>
                    <div class="cat_middle_right">
                        <h5>{% trans 'Digital product' %}</h5>
                        <div class="cat_menu_line"></div>
                        <ul class="cat_nav">
                            <li><a href="{% url 'product_list_laptop' %}">{% trans 'laptop' %}</a></li>
                            <li><a href="{% url 'product_list_headphone' %}">{% trans 'headphone' %}</a></li>
                            <li><a href="{% url 'product_list_office' %}">{% trans 'Office machines' %}</a></li>
                        </ul>
                    </div>
                    <div class="cat_img">
                        <img src="images/menu_cat.png" alt="" />
                    </div>
            </div>
        </div>

        <div class="nav_center">
            <nav class="mainmenu">
                <ul id="nav">
                    <li class="current-page-item"><a href="{% url 'product_list' %}">{% trans 'Home' %}</a>
                        <ul id="sub-menu4">
                            <li><a href="{% url 'product_list' %}">{% trans 'home page' %}</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'product_list' %}">{% trans 'shop' %}</a>
                        <ul id="sub-menu7">
                            <li><a href="{{product.get_absolute_url}}">{% trans 'Product Detail Page' %}</a></li>
                        </ul>
                    </li>
                    <li><a href="#">{% trans 'pages' %}</a>
                        <ul id="sub-menu5">
                            <li><a href="{% url 'order_create' %}">{% trans 'Checkout page' %}</a></li>
                            <li><a href="{% url 'cart:cart_detail' %}">{% trans 'Cart page' %}</a></li>
                            <li><a href="{% url 'contact_list' %}">{% trans 'Contact page' %}</a></li>
                            <li><a href="{% url '404_page' %}">{% trans '404 page' %}</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'product_list_blog' %}">{% trans 'blog' %}</a></li> 
                </ul>
            </nav>
        </div>
        <div class="nav_right floatright">
            <a href=""{% url 'cart:cart_detail' %}""><img src="{% static 'images/bag.png' %}" alt="Bag" />{% trans 'cart' %}: {{ cart|length|translate_number }}</a>
            {% include 'cart/cart_sidebar.html' %}
        </div>
    </div>
</section>

<!-- HOME SLIDER -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
	  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
	  <div class="carousel-item active">
		<img class="d-block w-100" src="{% static 'images/01-1-780x405.webp' %}" alt="First slide">
	  </div>
	  <div class="carousel-item">
		<img class="d-block w-100" src="{% static 'images/photography-Clothing.jpg'%}" alt="Second slide">
	  </div>
	  <div class="carousel-item">
		<img class="d-block w-100" src="{% static 'images/photo18.jpg' %}" alt="Third slide">
	  </div>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	  <span class="sr-only">Next</span>
	</a>
</div>

<section class="promotion_area">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="promo_inner">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="promotion_left">
								<div class="promotion_top">
									<div class="images_box">
										<img src="{% static 'images/3fe318188a27c7941af723817bd8cc631d9ca90a_1713162171.webp' %}" alt="" />
									</div>
									<div class="promo_text">
										<h5>{% trans 'Asus 15.6 inch laptop' %}</h5>
										<div class="p_line"></div>
										<a href="{% url 'product_list_laptop' %}">{% trans 'Show More Products' %} <i class="fa fa-caret-right"></i></a>
									</div>
									<div class="hover_images">
										<img src="{% static 'images/3fe318188a27c7941af723817bd8cc631d9ca90a_1713162171.webp' %}" alt="" />
									</div>
								</div>
								<div class="promotion_bottom">
									<div class="images_box">
										<img src="{% static 'images/2dd41f1b4b44bd345df631a75a8236e6efc6ac9e_1707743008.webp' %}" alt="" />
									</div>
									<div class="promo_text_bottom">
										<h5>{% trans 'Ray Ben sunglasses' %}</h5>
										<div class="p_line"></div>
										<a href="{% url 'product_list_men' %}">{% trans 'Show More Products' %} <i class="fa fa-caret-right"></i></a>
									</div>
									<div class="hover_images_bottom hover_images">
										<img src="{% static 'images/2dd41f1b4b44bd345df631a75a8236e6efc6ac9e_1707743008.webp' %}" alt="" />
									</div>
								</div>
								
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="promotion_right">
								<div class="promotion_bottom promotion_bottom_t">
									<div class="images_box">
										<img src="{% static 'images/5c3b94f1a9c45eeb80965ac9b2be6f018f6c656c_1704632649.webp' %}" alt="" />
									</div>
									<div class="promo_text ">
										<h5>{% trans 'Mens long sleeve shirt' %}</h5>
										<div class="p_line"></div>
										<a href="{% url 'product_list_men' %}">{% trans 'Show More Products' %} <i class="fa fa-caret-right"></i></a>
									</div>
									<div class="hover_images_bottom hover_images">
										<img src="{% static 'images/5c3b94f1a9c45eeb80965ac9b2be6f018f6c656c_1704632649.webp' %}" alt="" />
									</div>
								</div>
								<div class="promotion_top promotion_bottom_b">
									<div class="images_box">
										<img src="{% static 'images/13e5383d94c1ae4f2786308f9f2f658070a3e4b3_1695473459.webp' %}" alt="" />
									</div>
									<div class="promo_text_bottom ">
										<h5>{% trans 'Sony bluetooth headphones' %}</h5>
										<div class="p_line"></div>
										<a href="{% url 'product_list_headphone' %}">{% trans 'Show More Products' %}<i class="fa fa-caret-right"></i></a>
									</div>
									<div class="hover_images">
										<img src="{% static 'images/13e5383d94c1ae4f2786308f9f2f658070a3e4b3_1695473459.webp' %}" alt="" />
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="trending_area">
	<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="trending_box">
						<h2>{% trans 'Trending clothing' %}</h2>
						<div class="multi_line"></div>
						
						<div role="tabpanel">         
						  <!-- Tab panes -->
						  <div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="home">
								<div id="owl-example1" class="owl-carousel owl-example-i2">
								{% for product in products %}
								  <div class="item">
									<div class="item-img">
										{% if product.image %}
										<a href="{{ product.get_absolute_url }}">
												<img src="{{ product.image.url }}" alt="Products"  width="500" height="500"></a>
										{% endif %}
									</div>
									<div class="item-new">
										<p>{% trans 'New' %}</p>
									</div>
									<div class="item-sub">
										<a href="{{ product.get_absolute_url }}"><h4>{{ product.title }}</h4></a>
										<h5>{% trans '$' %} {{ product.price|intcomma:False|translate_number }} </h5>
									</div>
								  </div>
								  {% endfor %}
						  </div>
						</div>
					</div>
				</div>
			</div>
	</div>
</section>

<section class="featured_product_area">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="featured_product_box">
						<h2>{% trans 'Featured products' %}</h2>
						<div class="multi_line"></div>
					
						
						<div class="row">
							<div class="col-md-3 col-sm-4 col-xs-12">
								<div class="main_cat_item">
									<div class="item">
										<div class="item-img">
											<img src="{% static 'images/4198cf8de9f60ebdcfa961d18178e938e9854181_1704030068.webp' %}" alt="" />
											
										</div>
										<div class="item-new">
											<p>{% trans 'New' %}</p>
										</div>
										<div class="item-sub">
											<a href="{% url 'product_list_headphone' %}"><h5>{% trans 'Huawei bluetooth headphones' %}</h5></a>
											<p>{{ 11900000|intcomma:False|translate_number }}{% trans '$' %}</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-4 col-xs-12">
								<div class="main_cat_item">
									<div class="item">
										<div class="item-img">
											<img src="{% static 'images/4131cdc48dc3d9312ae78765209400da08fea133_1707233566.webp' %}" alt="" /></a>
											
										</div>
										<div class="item-new">
											<p>{% trans 'New' %}</p>
										</div>
										<div class="item-sub">
											<a href="{% url 'product_list_childish' %}"><h5>{% trans 'Chromaki comfortable shoes' %}</h5></a>
											<p>{{ 497000|intcomma:False|translate_number }}{% trans '$' %}</p>
										</div>
								  </div>
								</div>
							</div>
							<div class="col-md-3 col-sm-4 col-xs-12">
								<div class="main_cat_item">
									<div class="item">
										<div class="item-img">
											<img src="{% static 'images/611851dc3f7f03a1c7f5c8930ffab0447109ae6e_1710743372.webp' %}" alt="" />
											
										</div>
										<div class="item-new">
											<p>{% trans 'New' %}</p>
										</div>
										<div class="item-sub">
											<a href="{% url 'product_list_cooking' %}"><h5>{% trans 'Microwave model MH8265-CLS' %}</h5></a>
											<p>{{ 9300000|intcomma:False|translate_number }}{% trans '$' %}</p>
										</div>
								  </div>
								</div>
							</div>
							<div class="col-md-3 col-sm-4 col-xs-12">
								<div class="main_cat_item">
									<div class="item">
										<div class="item-img">
											<img src="{% static 'images/f75122cf50c489b9a5be401e90777b7a9fb32414_1676786568.webp' %}" alt="" />
										
										</div>
										<div class="item-new">
											<p>{% trans 'New' %}</p>
										</div>
										<div class="item-sub">
											<a href="{% url 'product_list_feminine' %}"><h5>{% trans 'Asmara womens shorts' %}</h5></a>
											<p>{{ 375000|intcomma:False|translate_number }}{% trans '$' %}</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-4 col-xs-12">
								<div class="main_cat_item">
									<div class="item">
										<div class="item-img">
											<img src="{% static 'images/3111251-1.webp' %}" alt="" />
											
										</div>
										<div class="item-new">
											<p>{% trans 'New' %}</p>
										</div>
										<div class="item-sub">
											<a href="{% url 'product_list_office' %}"><h5>{% trans 'Panasonic cordless phone' %}</h5></a>
											<p>{{ 375000|intcomma:False|translate_number }}{% trans '$' %}</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-4 col-xs-12">
								<div class="main_cat_item">
									<div class="item">
										<div class="item-img">
											<img src="{% static 'images/117658078.webp' %}" alt="" />
											
										</div>
										<div class="item-new">
											<p>{% trans 'New' %}</p>
											
										</div>
										<div class="item-sub">
											<a href="{% url 'product_list_men' %}"><h5>{% trans 'Mens sweatshirt' %}</h5></a>
											<p>{{ 99900|intcomma:False|translate_number }}{% trans '$' %}</p>
										</div>
								  </div>
								</div>
							</div>
							<div class="col-md-3 col-sm-4 col-xs-12">
								<div class="main_cat_item">
									<div class="item">
										<div class="item-img">
											<img src="{% static 'images/c332cc2b731fa3052f74434f480168d224e63b7f_1688062466.webp' %}" alt="" />
											
										</div>
										<div class="item-new">
											<p>{% trans 'New' %}</p>
											
										</div>
										<div class="item-sub">
											<a href="{% url 'product_list_office' %}"><h5>{% trans 'Attendance Device' %}</h5></a>
											<p>{{ 290000|intcomma:False|translate_number }}{% trans '$' %}</p>
										</div>
								  </div>
								</div>
							</div>
							<div class="col-md-3 col-sm-4 col-xs-12">
								<div class="main_cat_item">
									<div class="item">
										<div class="item-img">
											<img src="{% static 'images/c0fce7f289be9ad2bf1938d11769348370bc1af2_1683441254.webp' %}" alt="" />
											
										</div>
										<div class="item-new">
											<p>{% trans 'New' %}</p>
										</div>
										<div class="item-sub">
											<a href="{% url 'product_list_washing' %}"><h5>{% trans 'Snowa washing machine' %}</h5></a>
											<p>{{ 21890000|intcomma:False|translate_number }}{% trans '$' %}</p>
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
{% include 'footer.html' %}		
{% endblock content %}
